
/* HEADER CSS STYLING */
ion-title {
  padding-top: 16px;
}
ion-toolbar {
  --background: #eae7b1;
  --color: #3c6255;
  --padding-top: 10px;
  --padding-bottom: 10px;
}




ion-content {
  --background: #3c6255;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-button {
  --background: #61876e;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --ripple-color: deeppink;  
}
ion-back-button {
  --padding-top: 18px;
  --icon-font-size: 25px;
}
ion-grid {
  padding: 0;
  padding-bottom: 2px;
}
ion-col {
  padding: 0;
  padding-bottom: 2px;
  padding-top: 2px
}



/* Restaurant Card CSS */
ion-card-title {
  font-size: 130%;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
}



/* (Steven) I prefer without margin */
/* ion-item {
  margin: 5px auto;
} */